@page
@model ShoppingApp.Pages.AboutModel


<div class="col-7">
    <h1>About Our App</h1>
    <h5>Our pie ordering app offers a delectable selection of pies, ranging from rich cheesecakes to delightful fruit pies and seasonal favorites.
        Explore our menu, savor our <strong>'Pie of the Week'</strong> and embark on a delightful journey through a world of sweet and savory pie indulgence.
    </h5>
</div>
